# Copy this file to .env and fill in your credentials
# Never commit .env to git

# ExpiredDomains.net — https://www.expireddomains.net/register/
EXPIREDDOMAINS_USER=yourusername
EXPIREDDOMAINS_PASS=yourpassword
EXPIREDDOMAINS_SESSION_NAME=ExpiredDomainssessid
EXPIREDDOMAINS_SESSION=paste-session-cookie-here   # from browser DevTools, looks like "kee6280m5plts34uscbii68m4e"
EXPIREDDOMAINS_REMEMBER_COOKIE_NAME=reme
EXPIREDDOMAINS_REMEMBER_SESSION=paste-remember-session-cookie-here   # from browser DevTools, looks like "username%3A%7C%3AyqYn65cFK2KFvUIKHMrk3irp8DRIJY4WQXi0lHlV"


# ICANN CZDS — https://czds.icann.org/home
CZDS_USER=your@email.com
CZDS_PASS=yourpassword
CZDS_TOKEN=paste-full-jwt-here   # 500+ chars, from browser DevTools

# name.com credentials
NAME_USER=yourusername
NAME_PASS=yourpassword
NAME_SESSION_NAME=REG_IDT
NAME_SESSION=
NAME_LOGIN_TIME_NAME=acct_login_time
NAME_LOGIN_TIME=

